* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, rgb(234, 199, 177), rgb(219, 127, 74));
    height: 800px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.contentformulaire{
    width: 30%;
    margin: 0 auto;
    height: 620px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

.longtrait{
    border: 2px solid rgb(191, 74, 7);
    width: 80%;
    margin: auto;
}

.espace{
    display: flex;
    margin: auto;
    margin-top: 35px;
    width: 80%;
}

.titre{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(191, 74, 7);
}

.texte{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    font-size: 1.5rem;
}

.connecter{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    width: 80%;
    margin: auto;
    margin-top: 5px;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.573);
}

.email {
    display: flex;
    flex-direction: column; /* Aligne les éléments verticalement */
    gap: 5px;            /* Ajoute un petit espace entre le label et l'input */
    width: 80%;
    margin: auto;
    margin-top: 25px;

}

.adresmail{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.573);
    font-size: 0.9rem;
    font-weight: bold;
}

.mailtexte{
    height: 40px;
    border-radius: 10px;
    border: 1.5px solid rgba(131, 92, 14, 0.094);
    background-color: rgba(131, 92, 14, 0.094);
    padding: 10px;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.mdp{
    display: flex;
    flex-direction: column; /* Aligne les éléments verticalement */
    gap: 5px;            /* Ajoute un petit espace entre le label et l'input */
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

.forgot-link{
    text-decoration: none;
    text-align: end;
    color: rgb(191, 74, 7);
    font-weight: bold;
    font-size: 0.8rem;
}

.remember-me{
    width: 80%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    gap: 8px;
}

.souvien{
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.573);
    font-weight: bold;
}

.vrai {
  accent-color: rgb(232, 88, 5);
}

.seconnecter{
    border: none;
    border-radius: 10px;
    margin: auto;
    margin-top: 15px;
    height: 40px;
    color: #ffffff;
    width: 80%;
}

.se{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 88, 5);
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.divsection {
  display: flex;      
  align-items: center; 
  width: 80%;
  margin: auto;
  margin-top: 20px;
  gap: 10px;
}

.selectionn {
  flex: 1;             /* Force les barres à s'étirer pour prendre tout l'espace */
  height: 2px;         /* Épaisseur de la ligne (très fine comme sur ton image) */
  background-color: #e0e0e0; /* Couleur grise claire pour la ligne */
}

.Btn1{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.secondary{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
    background-color: #ffffff00;
}

.secondary{
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.zzz{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem;
}

.compte{
    text-decoration: none;
    color: rgb(191, 74, 7);
    margin-left: 5px;
}