.continent{
  background-color:rgb(248, 254, 255);
  margin-top: -8px;
  width: auto;
  box-shadow: 0 3px 15px rgba(0, 86, 123, 0.15);
}

html{
  scroll-behavior: smooth;
}


@media (max-width: 414px) {
  header{
    grid-template-columns: repeat(1,1fr)
  }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90%;
    height: 70px;
}

.dimension{
  background-color: #cde6fa73;
}

.jardin{
  margin-top: 12px;
}

.cent{
    width: 100%;
}

.cercle {
                  width: 40px;
                  height: 40px;
                  border-radius: 5px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: linear-gradient(to right, #0d2d7a, #2b70be);                  font-family: Arial, Helvetica, sans-serif;
                  color: rgb(255, 255, 255);
                  font-weight: bold;
}

.logo{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.grlogo{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
  color: rgba(0, 0, 0, 0.847);
  margin-bottom: 0;
}

.ptlogo {
  margin-top: 2px;
  font-family: 'Times New Roman', Times, serif;
  color: rgba(7, 12, 59, 0.53);
  letter-spacing: -0.5px;
}

.semiecrit{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-family: Arial, Helvetica, sans-serif;
                  color: rgba(0, 0, 0, 0.847);
                  font-weight: bold;
}

.haut{
  color: rgba(7, 12, 59, 0.847);
  text-decoration: none;
}

.haut:hover{
  color: #810121d3;;
}

.somme4{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.carre{
    height: 15px;
    border-radius: 10px; 
}

.dimension{
  display: grid;
}

.grandrec{
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   height: auto;
   width: 90%;
   margin: 20px auto;
   border-radius: 10px;
   background-size: 100%;
   background-color:rgb(249, 253, 255);
   box-shadow: 0 2px 7px rgba(2, 52, 75, 0.15);
}

@media (max-width: 670px) {
  .grandrec{
    flex-direction: column;
  }
}

.saveurs{
  height: 30px;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #1587c925;
  font-family:  Arial, Helvetica, sans-serif;
  color: rgba(7, 12, 59, 0.847);
  margin-bottom: 5px;
  margin-top: 0;
}

.button{
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-top: 0;
}

#table{
  height: 40px;
  width: 150px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(to right, #0d2d7a, #2b70be);     
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.792);
  font-weight: bold;
  box-shadow: 0 6px 6px rgba(4, 55, 126, 0.15);
}

#menu{
  height: 40px;
  width: 120px;
  border-radius: 5px;
  border: 0.5px solid #dfe7fa;
  color: rgba(7, 12, 59, 0.847);
  font-weight: bold;
  background-color: white;
}


.Decouvrez{
  margin-top: -10px;
  line-height: 18px;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
}
.experience{
  height: 450px;
  max-width: 600px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 70px;
}

.culinaire{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 10-large ;
  color: rgba(7, 12, 59, 0.847);
  margin-top: 0;
  width: 100%;
}

#pourquoivenir{
  height: 40px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}

.divimageun{
  position: relative;
  display: inline-block;
}

#img1{
  position: relative;
  z-index: 2;
  object-fit: contain;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}

.teteimg{
  background-color: rgb(232, 233, 243);
  box-shadow: 10px;
  position: absolute;
  z-index: 1;
  top: 40px;
  right:  80px;
  height: 50px;
  width: 60%;
  padding-left: 10px;
  border-radius: 19px;
}

.sousimage{
  color: rgba(7, 12, 59, 0.847);
  font-weight: bolder;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 0;
  width: 60%;
  font-size: 10px;
}

.idees{
  font-size: 7.8px;
  width: 90%;
  margin-top: 5px;
  color: rgba(7, 12, 59, 0.847);
  font-weight: 450;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sept{
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  width: 100%;
}

.realisation{
  height: 20px;
}

.motivation{
  height: 40px;
}

.moderne{
  height: 40px;
}

.petitrec{
  max-width: 600px;
  max-height: 400px;
  text-align: center;
  margin: 30px auto 20px;
}
.locaux{
  padding-left: 14px;
  line-height: 0;
  margin-top: -9px;
}

.nous{
  line-height: 1.5;
  margin: 0;
  margin-bottom: 0;
}

.produits{
  margin-bottom: 15px;
  color: rgba(7, 12, 59, 0.847);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

.tablegrid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 90%;
  gap: 20px;
  margin: auto;
}

.recgrid{
  max-height: 600px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.858);
  padding-left: 20px;
  padding-bottom: 20px;
  box-shadow: 0 3px 15px rgba(1, 33, 71, 0.15);
}

.recgrid2{
  margin: 20px auto;
}

@media (max-width: 414px) {
  .tablegrid{
    grid-template-columns: repeat(1,1fr)
  }
}

.rectrois{
  display: inline-block;
}

.image2{
  max-height: 600px;
  height: 200px;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
  object-position: center;
}

.Poulet{
  margin-left: 20px;
}

#roti{
  margin-top: 10px;
  margin-bottom: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

#servi{
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  color: rgba(0, 0, 0, 0.600);
}

.troisgrid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 90%;
  margin: auto;
  gap: 20px;
}

.rectrois{
  max-height: 600px;
  height: auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.858);
  box-shadow: 0 3px 15px rgba(1, 33, 71, 0.15);
}

.bleu{
  color: rgba(7, 12, 59, 0.847);
}

.chriffre{
  margin-bottom: 0;
  margin-top: 50px;
}

.carte{
  margin-top: 10px;
}

.quinze{
  background-color: #2b70be00;
}

@media (max-width: 414px) {
  .troisgrid{
    grid-template-columns: repeat(1,1fr)
  }
}

.Squadriple{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  width: 90%;
  margin: auto;
  margin-bottom: 0px;
}

.quadriple{
  text-align: center;
  margin-top: 10px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.grandrecdeux {
  height: 200px;
  margin: 40px auto ;
  background: none;
  background: linear-gradient(to right, #0d2d7a, #2b70be);    
  display: block;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.deuxboutton{
  display: flex;
  gap: 10px;
  justify-content: center;
}

.que{
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.642);
}

.now{
  margin-top: 0;
}

.server{
  height: 40px;
  width: 160px;
  border-radius: 8px;
  border: none;
  color: rgba(255, 255, 255, 0.792);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #0d2d7a, #2b70be);    
}

.telecharger{
  height: 40px;
  width: 180px;
  background-color: rgba(255, 255, 255, 0.792);
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.votre{
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.792);
}

.senegal{
  display: flex;
  margin-top: 15px;
  gap: 20px;
  justify-content: center;
}

.numero{
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  color: rgba(0, 0, 0, 0.847);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e1d7c473;
  margin-top: 0;
}

.dakar{
  width: 150px;
}

.regle{
  margin: 40px auto 20px;
}

.SQpts{
  display: flex;
  justify-content: space-between;
  gap: 5spx;
  margin: auto;
  width: 160px;
  margin-top: -10px;
  margin-bottom: 30px;
}

.pts{
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.cercledeux{
  background-color: #1d4bb867;
}

.bas{
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  background-color: rgba(255, 255, 255, 0.897);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}

.deuxmille{
  padding-left: 20px;
  color: #0d2e7a76;
  display: flex;
  align-items: center;
  margin: 0;
}

.tous{
  padding-right: 20px;
}