.continent{
  background-color: rgb(255, 255, 255);
  margin-top: -8px;
  width: auto;
}

html{
  scroll-behavior: smooth;
}


@media (max-width: 414px) {
  header{
    grid-template-columns: repeat(1,1fr)
  }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90%;
    height: 70px;
}

.dimension{
  background-color: #e1d7c473;
}

.jardin{
  margin-top: 12px;
}

.cercle {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #810121d3;
                  font-family: Arial, Helvetica, sans-serif;
                  color: rgba(255, 255, 255, 0.792);
                  font-weight: bold;
}

.logo{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.grlogo{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
  color: rgba(0, 0, 0, 0.847);
  margin-bottom: 0;
}

.ptlogo {
  margin-top: 2px;
  font-family: 'Times New Roman', Times, serif;
  color: rgba(0, 0, 0, 0.600);
  letter-spacing: -0.5px;
}

.semiecrit{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-family: Arial, Helvetica, sans-serif;
                  color: rgba(0, 0, 0, 0.847);
                  font-weight: bold;
}

.haut{
  color: rgba(0, 0, 0, 0.847);
  text-decoration: none;
}

.haut:hover{
  color: #810121d3;;
}

.somme4{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.carre{
    height: 15px;
    border-radius: 10px; 
}

.dimension{
  display: grid;
}

.grandrec{
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   height: auto;
   width: 90%;
   margin: 20px auto;
   border-radius: 10px;
   background:  linear-gradient(to bottom right, #ffffff, #fae6c2c0);
   background-size: 100% 100%;
   background-color: #fae6c2b6;
}

@media (max-width: 670px) {
  .grandrec{
    flex-direction: column;
  }
}

.saveurs{
  height: 30px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #d9b97fe2;
  font-family:  Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.598);
  margin-bottom: 5px;
  margin-top: 0;
}

.button{
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-top: 0;
}

#table{
  height: 40px;
  width: 150px;
  border-radius: 5px;
  border: none;
  background-color: #810121d3;
  color: rgba(255, 255, 255, 0.792);
  font-weight: bold;
}

#menu{
  height: 40px;
  width: 120px;
  border-radius: 5px;
  border: 1px solid #810121d3;
  color: #810121d3;
  font-weight: bold;
  background-color: rgba(154, 154, 154, 0);
}

.Decouvrez{
  margin-top: -10px;
  line-height: 18px;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
}
.experience{
  max-height: auto;
  height: 350px;
  max-width: 600px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 70px;
}

.culinaire{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 10-large ;
  color: rgba(0, 0, 0, 0.847);
  margin-top: 0;
}

#img1{
  height: auto;
  max-width: 400px;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.petitrec{
  max-width: 600px;
  max-height: 400px;
  text-align: center;
  margin: 30px auto 20px;
}
.locaux{
  padding-left: 14px;
  line-height: 0;
  margin-top: -9px;
}

.nous{
  line-height: 1.5;
  margin: 0;
  margin-bottom: 0;
}

.produits{
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.847);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

.tablegrid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 90%;
  gap: 20px;
  margin: auto;
}

.recgrid{
  max-height: 600px;
  height: 200px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.858);
  padding-left: 20px;
}

.recgrid2{
  margin: 20px auto;
}

@media (max-width: 414px) {
  .tablegrid{
    grid-template-columns: repeat(1,1fr)
  }
}

.rectrois{
  display: inline-block;
}

.image2{
  max-height: 600px;
  height: 200px;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
  object-position: center;
}

.Poulet{
  margin-left: 20px;
}

#roti{
  margin-top: 10px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.847);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

#servi{
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  color: rgba(0, 0, 0, 0.600);
}

.troisgrid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 90%;
  margin: auto;
  gap: 20px;
}

.rectrois{
  max-height: 600px;
  height: auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.858);
}

.carte{
  margin: 0;
}

.quinze{
  margin-bottom: 13px;
  color: #810121d3;
}

@media (max-width: 414px) {
  .troisgrid{
    grid-template-columns: repeat(1,1fr)
  }
}

.Squadriple{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  width: 90%;
  margin: auto;
}

.quadriple{
  height: 100px;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.858);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grandrecdeux {
  height: 300px;
  margin: 40px auto ;
  background: none;
  background-color: rgba(255, 255, 255, 0.858);
  display: block;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.tri{
  display: flex;
  justify-content: space-around ;
}

.que{
  margin-bottom: 15px;
}

.now{
  margin-top: 0;
}

.server{
  height: 40px;
  width: 160px;
  border-radius: 8px;
  border: none;
  background-color: #810121d3;
  color: rgba(255, 255, 255, 0.792);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.votre{
  margin-bottom: 0;
}

.senegal{
  display: flex;
  margin-top: 15px;
  gap: 20px;
  justify-content: center;
}

.numero{
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  color: rgba(0, 0, 0, 0.847);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e1d7c473;
  margin-top: 0;
}

.numeroun{
  width: 180px;
  font-family: Arial, Helvetica, sans-serif;
}

.sn{
  width: 210px;
  font-family: Arial, Helvetica, sans-serif;
}

.dakar{
  width: 150px;
}

.regle{
  margin: 40px auto 20px;
}

.SQpts{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: auto;
  width: 160px;
}

.pts{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.bas{
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  background: none;
  background-color: rgba(255, 255, 255, 0.858);

}

.deuxmille{
  padding-left: 20px;
}

.tous{
  padding-right: 20px;
}